.formulario{
    padding-top: 1px;
    padding-left: 30px;
    padding-right: 30px;
}

.fbutton{
    padding-top: 5px;
}

.logado{
    padding-top: 50px;
    padding-left: 30px;
}

.icon-7em {
    padding-top: 50px;
    padding-left: 105px;
    width: 9em;
    
  }
  
  .my-custom-menu {
    --width: 500px;
  }
  
  .menu {
    font-size: 2em;
  }


  
