.cor{
    background-color: rgb(11, 176, 182);
}

.cor2{
    
    background-color: rgb(88, 27, 231);
}


.cortexto{
    color: whitesmoke;
}

.entrada{
    
    color: rgb(19, 143, 44);
}

.saida{
    
    color: rgb(197, 43, 16);
}

.alerta{
    
    color: rgb(168, 170, 46);
}